@tailwind base;
@tailwind components;
@tailwind utilities;

.infinite-scroll {
    margin: auto;
}

@media ( min-width: 1024px) {
    .infinite-scroll {
        width: 65%;
    }
}

@media ( min-width: 1280px) {
    .infinite-scroll {
        width: 50%;
    }
}